@import "../../styles/vars";

.mainContainer {
  padding: 30px;
  // display: flex;
  // height: 100vh;
  // position: relative;
}

.permanent {
  width: 50%;
  padding-left: 100px;
  position:fixed;
  top: 30px;
  // right: 20px;
  height: 100%;
}

.main {
  width: 50%;
  position: absolute;
  right: 30px;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}

.greetings {
  margin-bottom: 10px;
}

.welcomeText {
  color: $grey;
  margin-bottom: 60px;
}

.startUsingApp {
  font-size: 20px;
  margin-bottom: 20px;
}

.panel {
  background-color: $white;
  border-radius: 10px;
  padding: 10px;
}
