@import "../../styles/vars";

.mainContainer {
  padding: 30px;
  display: flex;
  height: 100vh;
}

.main {
  width: 50%;
}

.permanent {
  width: 50%;
  padding-left: 100px;
  position: sticky;
  top: 0;
  height: 100%; 
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}

.greetings {
  margin-bottom: 10px;
}

.welcomeText {
  color: $grey; // Using the imported variable
  margin-bottom: 60px;
}

.startUsingApp {
  font-size: 20px;
  margin-bottom: 20px;
}

.panel {
  background-color: $white; // Using the imported variable
  border-radius: 10px;
  padding: 10px;
}
