@use "../../styles/vars";

.container {
  padding: 5px 30px;
  height: 40px;

  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background-color: vars.$accent;
  color: vars.$white;
}
.disable{
    background-color: vars.$light;
    color: vars.$accent;
}