@import "../../styles/vars";

.panelContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.breedInfo {
  border-radius: 20px;
  border: 2px solid $light;
  position: relative;
  padding: 20px 40px;
}

.breedName {
  position: absolute;
  background-color: #ffff;
  top: -20px;
  padding: 0 30px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.breedDescription {
  text-align: center;
  color: $grey;
  margin-bottom: 20px;
}

.breedFlexContainer {
  display: flex;
  justify-content: space-between;
}

.breedTemperament {
  color: $grey;
}
